@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=My+Soul&family=Rajdhani:wght@300;400;500;600;700&display=swap');

.gradient-text {
    font-family: "My Soul", cursive;
    font-size: 3rem;
    background: linear-gradient(to right,
        #888 20%,
        #aaaaaa 30%,
        #cccccc 70%,
        #dddddd 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 10s ease-in-out infinite alternate-reverse;
  }
  
  @keyframes textShine {
    0% {
      background-position: 0% 50%;
    }
  
    100% {
      background-position: 100% 50%;
    }
  }

  @media screen and (max-width: 500px){
    .gradient-text {
        font-size: 8rem;
    }
  }