.ag-format-container {
    width: 100%;
    margin: 5vh auto;
}

.ag-courses_box {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    justify-content: center;
    column-gap: 10vw;
}

.ag-courses_item {
    height: 600px;
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
    border: 1px solid #555; 
}

.ag-courses-item_link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    height: 100%;
}

span{
    font-weight: bold;
}


.ag-courses-item_title {
    font-weight: bold;
    font-size: 30px;
    color: #555;
    z-index: 2;
    position: relative;
}

.ag-courses-item_description{
    color: #555;
    z-index: 2;
    position: relative;

}

li{
    margin-bottom: 5px;
}

.ag-courses-item_date {
    font-size: 18px;
    font-weight: bold;
    color: #f9b234;
    margin-left: 5px;
    z-index: 999;
}


.ag-courses_item:nth-child(2n) .ag-courses-item_date{
    color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_date{
    color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_date{
    color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_date{
    color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_date{
    color: #4c49ea;
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color:#f9b234;
    opacity: .6;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
}


.ag-courses-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 999;
}

.project-button{
    font-size: 40px;
    font-weight: bold;
    color: #f9b234;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #f9b234;
    opacity: 0;
    transition: all .5s ease;
}

.project-button:hover{
    text-decoration: #f9b234 underline;
}

.ag-courses_item:nth-child(2n) .project-button{
    color: #3ecd5e;
    border: 2px solid #3ecd5e;
}

.ag-courses_item:nth-child(3n) .project-button {
    color: #e44002;
    border: 2px solid #e44002;
}

.ag-courses_item:nth-child(4n) .project-button {
    color: #952aff;
    border: 2px solid #952aff;
}

.ag-courses_item:nth-child(5n) .project-button {
    color: #cd3e94;
    border: 2px solid #cd3e94;
}

.ag-courses_item:nth-child(6n) .project-button{
    color: #4c49ea;
    border: 2px solid #4c49ea;
}

.ag-courses_item:nth-child(2n) .project-button:hover{
    text-decoration: #3ecd5e underline
}

.ag-courses_item:nth-child(3n) .project-button:hover {
    text-decoration: #e44002 underline;
}

.ag-courses_item:nth-child(4n) .project-button:hover {
    text-decoration: #952aff underline;
}

.ag-courses_item:nth-child(5n) .project-button:hover {
    text-decoration: #cd3e94 underline;
}

.ag-courses_item:nth-child(6n) .project-button:hover{
    text-decoration: #4c49ea underline;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    transform: scale(30);
    
}

.ag-courses-item_link:hover .project-button {
    opacity: 1;
}


.ag-courses-item_link:hover .ag-courses-item_date{
    color: #fff;
}


@media only screen and (max-width:1120px){
    .ag-courses_box {
        grid-template-columns: repeat(1, 700px);
    }
}

@media only screen and (max-width:760px){
    .ag-courses_box {
        grid-template-columns: repeat(1, 400px);
    }

    .ag-courses_item {
        height: 700px;
       
    }
}

@media only screen and (max-width:450px){
    .ag-courses_box {
        grid-template-columns: repeat(1, 350px);
    }

    .ag-courses_item {
        height: 800px;
       
    }
    .ag-courses-buttons{
        display: flex;
        flex-direction: column;
    }
}