.ag-format-container {
    width: 100%;
    margin: 5vh auto;
}

.ag-courses_box {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    justify-content: center;
    column-gap: 10vw;
}

.ag-courses_item {
    height: 600px;
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
    border: 1px solid #555; 
}

.ag-courses-item_link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    height: 100%;
}

.ag-courses-item_link:hover .ag-courses-item_title {
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_description {
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(30);
    -ms-transform: scale(30);
    transform: scale(30);
}

.ag-courses-item_title {
    font-weight: bold;
    font-size: 30px;
    color: #555;
    z-index: 2;
    position: relative;
}

.ag-courses-item_description{
    color: #555;
    z-index: 2;
    position: relative;
}

li{
    margin-bottom: 5px;
}
.ag-courses-item_date-box {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    margin-left: 5px;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.ag-courses-item_title:hover {
    color: #fff;

}

.ag-courses-item_date-box:hover {
    color: #fff;
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

span{
    font-weight: bold;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
}

@media only screen and (max-width:1120px){
    .ag-courses_box {
        grid-template-columns: repeat(1, 700px);
    }
}

@media only screen and (max-width:760px){
    .ag-courses_box {
        grid-template-columns: repeat(1, 400px);
    }

    .ag-courses_item {
        height: 700px;
       
    }
}

@media only screen and (max-width:450px){
    .ag-courses_box {
        grid-template-columns: repeat(1, 350px);
    }

    .ag-courses_item {
        height: 800px;
       
    }
}